
    <!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top navbar-dark bg-light-blue" role="navigation">
    <!-- Logo -->
    <a class="navbar-brand" href="#"><b>Admin</b>LTE</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </nav>
  <!--
<div class="container">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="{{ site_url() }}"><b>Admin</b>LTE</a>

                </div>

                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav">

                        <li{% if rsegment(1) is empty or rsegment(1) == 'home' %} class="active"{% endif %}><a href="{{ site_url() }}"><i class="fa fa-home"></i> Home</a></li>

                    </ul>

                    <a class="btn navbar-btn navbar-right" href="{{ site_url('logout') }}"><i class="fa fa-power-off"></i> Logout</a>
              </div>

</div>-->
</nav>
